# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# MacOS files
.DS_Store

# VS Code / PyCharm
.vscode/
.idea/

# Unit test / coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

# mypy / pyright / lint
.mypy_cache/
.pyright/
.pytest_cache/
